{% extends 'layoutsAdmin.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    
    {% block content %}
    <div class="">
     <h1>Parameters</h1>
        <div class="content">
            <form>
                <div style="display: flex; justify-content: space-between; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
                    <div style="flex: 1; padding-right: 10px;">
                        <label for="repoRate">Repo Rate:</label>
                        <input type="number" id="repoRate" name="repoRate" placeholder="Enter Repo Rate" style="width: 100%; height: 40px; font-size: 16px;" step="0.01"><br><br>



                        <h3>Is Market Active?</h3>
                        <label for="marketActiveYes">Yes</label>
                        <input type="radio" id="marketActiveYes" name="marketActive" value="yes" style="margin-right: 5px;">
                        <label for="marketActiveNo">No</label>
                        <input type="radio" id="marketActiveNo" name="marketActive" value="no" style="margin-right: 5px;"><br><br>

                    </div>
                    <div style="flex: 1; padding-left: 10px;">
                      
                        <label for="numberOfUsers">Max Number of Users:</label>
                        <input type="number" id="numberOfUsers" name="numberOfUsers" placeholder="Enter Number of Users" style="width: 100%; height: 40px; font-size: 16px;"><br><br>
                        
                        <h3>Market Selection</h3>

                        <label for="primaryMarket">Primary Market</label>
                        <input type="radio" id="primaryMarket" name="market" value="primary" style="margin-right: 5px;">
                        <label for="secondaryMarket">Secondary Market</label>
                        <input type="radio" id="secondaryMarket" name="market" value="secondary" style="margin-right: 5px;"><br><br>

                    </div>
                </div>
                <br>
                <button type="submit" style="background-color: green; color: white; padding: 10px 20px; border: none; border-radius: 5px; display: block; margin: 0 auto;">Submit</button>

            </form>



        </div>
    </div>
    {% endblock %}
</body>
</html>
