<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Treasury App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav-left">
                <a href="/secondary-market"><button>Mr. Kedar</button></a>
                <a href="/secondary-market"><button>Home</button></a>
                <a href="/charts"><button>Charts</button></a>
                <a href="/orders"><button>Orders</button></a>
                <a href="/news"><button>News</button></a>
                <a href="/portfolio"><button>Portfolio</button></a>
                <a href="#"><button onclick="openPopup()">Calculate</button></a> <!-- Updated button to open popup -->
            </div>

            <div class="nav-right">
                <a href="#"><button class="logout-btn">Logout</button></a>
            </div>
        </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
