<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Treasury App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav-left">
                <a href="/secondaryMarket"><button>Treasury Lab</button></a>
                <a href="/secondaryMarket"><button>Home</button></a>
                <a href="/charts"><button>Charts</button></a>
                <a href="/orders"><button>Orders</button></a>
                <a href="/news"><button>News</button></a>
                <a href="/portfolio"><button>Portfolio</button></a>
                {% if request.path == '/secondaryMarket' %}
                <a href="#"><button onclick="openPopup()">Calculate</button></a> <!-- Show button only on secondaryMarket page -->
                {% endif %}
            </div>

            <div class="nav-right">
                <a  onclick="logout()"><button class="logout-btn">Logout</button></a>
            </div>
    <script>
        function logout() {
            localStorage.removeItem('token'); // Remove the token from local storage
            window.location.href = '/login'; // Redirect to login page
        }
    </script>
        </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
